<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDraaewjokqX-r0jnyMRF70FUqalgTBCus</string>
	<key>GCM_SENDER_ID</key>
	<string>961784054017</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled3</string>
	<key>PROJECT_ID</key>
	<string>chat-app-14a12</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-14a12.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:961784054017:ios:1611b8f9877b6b10ab1b00</string>
	<key>DATABASE_URL</key>
	<string>https://chat-app-14a12-default-rtdb.firebaseio.com</string>
</dict>
</plist>